* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[data-theme="light"]{
    --bg-color: #F3F4F6;
    --text-titulo: #000;
    --text-color: rgba(110, 110, 110, 1);
    --card-bg: #ffffff;
    --shadow-color: rgba(110, 110, 110, 1);
    --border-color: #10B981;
    --highlight-color: #10B981;
    --rating-color: #ffd700;
    --info-bg: #d3d3d3;
    --button-bg: #10B981;
    --button-text: #ffffff;
    --button-border: #10B981;
}

[data-theme="dark"] {
    --bg-color: #1f1f1f;
    --text-titulo: #fff;
    --text-color: #f1f1f1;
    --card-bg: #1e1e1e;
    --shadow-color: rgb(88, 88, 88);
    --border-color: #0f9d58;
    --highlight-color: #0f9d58;
    --rating-color: #ffcc00;
    --info-bg: #333333;
    --button-bg: #0f9d58;
    --button-text: #ffffff;
    --button-border: #0f9d58;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

main {
    width: 90vw;
    background: var(--card-bg);
    border-radius: 20px;
    max-width: 400px;
    margin: 20px 0;
    box-shadow: 0px 10px 11px 1px var(--shadow-color);
}

button {
    cursor: pointer;
    background: var(--button-bg);
    color: var(--button-text);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

.button-tema{
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    border-radius: 50px;
}

.button-tema span{
    color: var(--button-text)
}

/* Primeira section */
.img-card {
    width: 100%;
    height: 33%;
}

.img-card figure {
    width: 100%;
    height: 100%;
}

.img-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    border-top: 7px solid var(--border-color);
}

.img-card figcaption {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    color: var(--text-titulo);
}

/* Segunda section */
.infos-apartamento {
    padding: 10px;
}

.infos-apartamento .p-avaliacao {
    margin-top: 10px;
}

.p-avaliacao i {
    color: var(--rating-color);
}

.infos-apartamento .p-descricao {
    margin-top: 10px;
}

.infos-apartamento p, .infos-apartamento .grid-container span {
    color: var(--text-color);
    font-size: 18px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    margin-top: 10px;
}

.grid-item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
}

.mdi {
    font-size: 24px;
    color: var(--highlight-color);
}

.infos-adicionais {
    font-size: 18px;
    color: var(--text-color);
    background: var(--info-bg);
    border-radius: 5px;
    padding: 5px 10px;
}

.infos-apartamento aside {
    margin-top: 20px;
}

.infos-apartamento aside span {
    margin-right: 10px;
}

/* Terceira section */
.valor-buttons {
    margin-top: 10px;
    padding: 10px;
}

.valor-buttons .preco {
    font-size: 35px;
    color: var(--highlight-color);
}

.valor-buttons .div-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0 20px 0;
}

.valor-buttons .div-buttons .btn-agendar-visita {
    padding: 10px;
    width: 45%;
    background: var(--button-bg);
    color: var(--button-text);
    border-radius: 10px;
    font-weight: bold;
    border: none;
    font-size: 14px;
}

.valor-buttons .div-buttons .btn-contatar-corretor {
    padding: 10px;
    width: 45%;
    background: var(--card-bg);
    color: var(--button-border);
    border: 1px solid var(--button-border);
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
}
